<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="server" value ="localhost"/>
    <add key="db" value ="dbmigrator"/>
    <add key="user" value ="root"/>
    <add key="password" value =""/>
    <add key="currentVersion" value ="1"/>
  </appSettings>
</configuration>
